In [45]:
import pandas as pd

my_dict = {
    "a": 1,
    "b": 2,
    "c": 3
    }
# print(my_dict)

# print(my_dict.keys())

# print(list(my_dict.keys()))

# print(my_dict.values())

# print(list(my_dict.values()))

# for key, value in my_dict.items():
#     print(f"Key {key} : Value {value}")

# data_dict = {'a': 1, 'b': 2, 'c': 3}
# series_dict = pd.Series(data_dict)
# print(series_dict)

# data = [10,20,30]
# index = ['a', 'b', 'c']
# series_custom = pd.Series(data, index=index)
# print(series_custom)

data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'city': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df)

df.to_excel('output.xlsx', index=False)

      name  age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [66]:
data = [
    {'name': 'Alice', 'age': 25, 'city': 'New York'},
    {'name': 'Bob', 'age': 30, 'city': 'Los Angeles'},
    {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}
]

df = pd.DataFrame(data)
# print(df)

# df.tail(1)  # Display the first few rows of the DataFrame

# df[['name','age','city']]  # Access a specific column by name

# df

df[df.age > 30]  # Filter rows based on a condition

      name  age     city
2  Charlie   35  Chicago